@media all and (min-widht : 600px) and (max-width: 1315px){

    .aside{
        display: flex;
        border: 1px solid black;
    }

    .Filter{
        border: 1px solid black;
    }




















}