/*Style pour Smartphone*/

/*couleur stars*/
.bleu{
    color:#0065FC ;
}
.grey{
    color:#F2F2F2 ;
}

.fas{
    font-size: 0.85em;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0%;
    font-family: 'Raleway';
}

a{
    text-decoration: none;
    margin-top: 5%;
    color: black; 
}

.header{
    display: flex;
    padding: 0 20px 0 20px;

}

#title-mobil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    margin: 20px 0 30px 0;
}

#menu-nav{
    display: flex;
    justify-content: space-around;
    
}

.menu-mobil{
    border-bottom: 2px solid #F2F2F2;
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
}

.menu-mobil:hover{
    border-bottom: 2px solid #0065FC;
    text-decoration-color:  #0065FC;

}


.menu{
    text-decoration: none;
    color: black;
}

.menu:hover{
    color: #0065FC;
}

#link_register-mobil{   
    color: #0065FC;
    font-weight: bold;
    text-decoration: none;
    display: none;
}
#link_register-descktop{
    color: #0065FC;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

#info{
    padding: 40px 20px 0 20px;
}

#SiteHeader-h1{
    font-size:1.4em;
    font-weight: bold;
    margin: 0%;
}
#SiteHeader-slogan{
    color:black;
    font-size: 1em;
}

/*Parti recherche*/
.SiteHeader-search-btn{
    border-radius: 20px;
    display: flex;
    margin-top: 20px;
}

.SiteHeader-search-input{
    border: 1px solid #F2F2F2;
    font-weight:bold;
    padding-left: 2%;
}

.SiteHeader-btn{
    background-color: #0065FC;
    color: white;
    border-style: none;
}
.bar-search{
    background-color: #F2F2F2;
    width: 40px;
    height: 40px;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-search{
    display: flex;
    justify-content: center;
    align-items: center;
}

.SiteHeader-btn{
    border-radius:0 10px  10px 0 ;
    padding:0 15px;
}

#text_btn_search{
    display: none;
}

/*éléments de la partie filtres*/
.Filter{
    font-weight: bold;
    margin-top: 10px;
}

.Filter_block{
    display: flex;
    flex-flow:column wrap;
    height: 200px;
}
.order{
    order: 1;
}

.FilterChoice{
    border: 2px solid  #F2F2F2;
    border-radius: 30px;
    margin:0 0 10px 0;
    display: flex;
    width: max-content;
}

.FilterChoice:hover {
    transition: 0,2s;
    background-color: #F2F2F2;
}

.circle-icon:hover{
    color: black;
}

.elements-choice{
    margin: 10px;
}

.InformationResult{
    display: flex;
    align-items: baseline;
    width: 100%;
}

/*Mise en forme des icon*/
.circle-icon{
    height: 40px;
    width: 40px;
    background-color: #DEEBFF;
    border-radius: 50px;
    color:#0065FC;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0,2s;
}

.icon-info{
    height: 25px;
    width: 25px;
    margin-right: 10px;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.fa-chart-line{
    font-size: 1.5em;
}

/*ASIDE*/
.aside{
    padding: 5%;
    margin: 5% 0;
    background-color: #F2F2F2;
}

.title_aside{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards_populaires{
    display: flex;
    background-color: white;
    border-radius: 20px;
    border: 5px solid white;
    margin: 10%  0 10% 0;
    box-sizing: border-box;
    height: 8em;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.img_populaires{
    width: 45%;
    border-radius: 20px 0 0 20px;
    background-position: center;
    background-size:  cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.text_populaires{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    padding: 10px 3% 0 5%;
    font-size: 0.8em;
}

.text_populaires h3 {
    height: auto;
    margin: 0%;
}
.text_populaires p{
    margin-bottom: 3%;
}

/*Section hebergements*/
.section{
    margin: 5% 0  5% 0;
    background-color: white;
    padding: 0 20px 0 20px;
}


.cards_hebergements{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    border: 5px solid white;
    margin: 10%  0 10% 0;
    box-shadow: 0px 2px 7px -2px #7894A3;
    height: 190px;
}

.img_hebergements{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    background-position: center;
    background-size:  100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.background_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0 ;
}

.text_hebergements{
    flex-wrap: wrap;
    height: 40%;
    padding:3% 0 0 3%;
}
.text_hebergements h3 {
    margin: 0%;
}
.text_hebergements p{
    margin: 1% 0;
}

/*Section activity*/

#section_activity{
    padding: 0 20px 0 20px;
}

.cards_activity{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    margin: 10%  0 10% 0;
    box-shadow: 0px 2px 7px -2px #7894A3;
    height: 12em;
    width: 98%;
}

.text_activity{
 margin-left: 5%;
}
.position_img{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    background-position: center;
    background-size:  100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position-y: 41.5%;
}
.img_activity{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    background-position: center;
    background-size:  cover;
    background-position-y: 10%;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

/*Footer*/
.footer{
    display: flex;
    flex-direction: column;
    background-color:#F2F2F2 ;
}

.Footer-block li {
    list-style-type: none;
    line-height: 2em;
}

.Footer-block li a{
    color: black;
    text-decoration: none;
}

.Footer-block-hide{
    display: none;
}


@media all and (min-width : 600px) and (max-width: 1024px){

#info{
    padding: 40px  50px 0 50px;
}

/*Section populaires*/
    .aside{
        padding:20px 15%;
        border-radius: 20px;
        margin: 40px 30px 0 30px;
    }
    
    .populaires_block{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .cards_populaires{
        margin: 1%;
    }

/*Section hebergments*/

.section{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 1%;
    margin: 20px 30px 0 30px;
}
    .box_cards{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .cards_hebergements{
        width: 45%;
        height: 15em;
        margin: 0%;
        margin-top: 5%;
    }

    #hébergement{
    margin-left: 20px;
    }

    /*Section activity*/

    .first_activity{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 2%;
    }

    .double_cards{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        height: 25em;
    }

    .cards_activity{
        width: 45%;
        margin: 0%;
    }
    .img_activity_destop{
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 0 0;
        background-position: center;
        background-size:  200%;
        background-position-y: 10%;
        background-repeat: no-repeat;
        box-sizing: border-box;
    }

    .big_cards{
        height: 25em;
    }

    .medium_cards{
        width: 100%;
    }

    .small_cards{
        width: 100%;
        height: 40%;
        background-position-y: 40%;
    }

    .text_activity{
        height: 3em;
        display: flex;
        align-items: center;
    }

    #activity{
    margin-left: 20px;
    }

    /*Section footer*/

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 2%;
    }

    .Footer-block li{
        line-height: 1.5em;
    }
}